<!-- $title Pagetitle -->
<!-- @include header -->

.content-wrapper
	.content
		%nav
			.nav-sub
				%ul
					%li
						%a(href="#") Über das Projekt
					%li
						%a(href="#") Projektziele
					%li
						%a(href="#") Das Team

		%main

			%h1 Das ist der Titel einer Seite
			%p.lead-in Einleitungstext – Dieser Blindtext wird gerade durch 130 Millionen Rezeptoren Ihrer Netzhaut erfasst. Die Zellen werden dadurch in einen Erregungszustand versetzt, der sich über den Sehnerv in dem hinteren Teil Ihres Gehirns ausbreitet.

			%p Dieser Blindtext wird gerade durch 130 Millionen Rezeptoren Ihrer Netzhaut erfasst. Die Zellen werden dadurch in einen <a href="#">Link im Text</a> Erregungszustand versetzt, der sich über den Sehnerv in dem hinteren Teil Ihres Gehirns ausbreitet. Von dort aus überträgt sich die Erregung in Sekundenbruchteilen auch in andere Bereiche Ihres Grosshirns.

			%h2 Hier ist die Überschrift 2

			%p Ihr Stirnlappen wird stimuliert. Von dort aus gehen jetzt Willensimpulse aus, die Ihr zentrales Nervensystem in <em>konkrete Handlungen</em> umsetzt. Kopf und Augen reagieren bereits. Sie folgen dem Text, nehmen die darin enthaltenen Informationen auf wie ein Schwamm. Nicht auszudenken, was mit Ihnen hätte passieren können, wenn dieser Blindtext durch einen echten Text ersetzt worden wäre.

			%ul
				%li Aufzählungsliste – Ihr Stirnlappen wird stimuliert und von dort aus gehen Willensimpulse aus, die Ihr zentrales Nervensystem
				%li In konkrete Handlungen umsetzt
				%li Kopf und Augen reagieren bereits.

			%p Ihr Stirnlappen wird stimuliert. Von dort aus gehen jetzt Willensimpulse aus, die Ihr zentrales Nervensystem in konkrete Handlungen umsetzt. Kopf und Augen reagieren bereits. Sie <strong>folgen dem Text</strong>, nehmen die darin enthaltenen Informationen auf wie ein Schwamm. Nicht auszudenken, was mit Ihnen hätte passieren können, wenn dieser Blindtext durch einen echten Text ersetzt worden wäre.

			%ol
				%li Nummerierte Liste – Ihr Stirnlappen wird stimuliert und von dort aus gehen Willensimpulse aus, die Ihr zentrales Nervensystem
				%li In konkrete Handlungen umsetzt
				%li Kopf und Augen reagieren bereits.

			%h3 Und eine Überschrift 3

			%p Streng dem definierten Wesen des Blindtextes folgend, fungiere ich als solcher und gebe mich unverbindlich inhaltsleer. In bedrückender Enge in vorgefertigte Masken gepresst friste ich ein freudloses Dasein auf dem schmalen Grat zwischen Nichtbeachtung und Bedeutungslosigkeit und habe doch eine Bitte: Handeln Sie Sinn stiftend für meine Existenz und lesen Sie mich.

			%blockquote Zitat – Zeil des Projektes ist es nachhaltige Mobilitätsformen in Gemeinden in ländlichen Regionen zu integrieren. In Städten ist das häufig Thema, am Land ist es deshalb aber nicht unwichtiger.

			%h4 Überschrift 4 steht hier

			%p Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen Sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie mit den nötigen Regelialien. Es ist ein paradiesmatisches Land, in dem einem gebratene Satzteile in den Mund fliegen.

			%figure
				%img(src="<!-- @path schafskoepfle -->")
				%figcaption Bilduntertext, z.B. der Bildnachweis oder eine Beschreibung dazu.

			%p Eines Tages aber beschloß eine kleine Zeile Blindtext, ihr Name war Lorem Ipsum, hinaus zu gehen in die weite Grammatik. Der große Oxmox riet ihr davon ab, da es dort wimmele von bösen Kommata, wilden Fragezeichen und hinterhältigen Semikoli, doch das Blindtextchen ließ sich nicht beirren. Es packte seine sieben Versalien, schob sich sein Initial in den Gürtel und machte sich auf den Weg. Als es die ersten Hügel des Kursivgebirges erklommen hatte, warf es einen letzten Blick zurück auf die Skyline seiner Heimatstadt Buchstabhausen.



<!-- @include footer -->