<!-- $title Alltagsspuren – Nachhaltige Mobilität in ländlichen Gemeinden -->
<!-- $header-class header-start -->
<!-- @include header -->

.outside-wrapper
	.content-wrapper
		.content.page-home
			%section.sec-home-intro
				%div
					%h2 Eine auffordernde und erklärende Autoren-Headline
					%p Dieser Blindtext wird gerade durch 130 Millionen Rezeptoren Ihrer Netzhaut erfasst. Die Zellen werden dadurch in einen <a href="#">Gemeinde motiviert teilzunehmen</a> und in Erregungszustand versetzt, der sich über den Sehnerv in dem hinteren Teil Ihres Gehirns ausbreitet.
					%a.btn(href="story-new.html")
						Schreib deine Geschichte
						%i.fa.fa-pencil
				%div
					%h2 Und das ist die schöne Headline für die Gemeinden
					%p Von dort aus überträgt sich die Erregung in Sekundenbruchteilen auch in andere Bereiche Ihres Grosshirns. Ihr Stirnlappen wird stimuliert. Von dort aus gehen jetzt Willensimpulse aus, die Ihr zentrales Nervensystem in konkrete Handlungen umsetzt.
					%a.btn(href="#")
						Als Gemeinde teilnehmen
						%i.fa.fa-arrow-circle-right

			%section.sec-home-gemeinden
				%h2 Diese Gemeinden sind schon mit dabei
				%ul.widget-list
					%li
						%a(href="<!-- @path stories-timeline -->")
							%img.img-gemeinde(src="<!-- @path st-veit-defereggental -->")
							%h3 St. Veit im Defereggental
							%span.widget-subinfo Tirol, 10 Mobilitätsgeschichten
					%li
						%a(href="<!-- @path stories-timeline -->")
							%img.img-gemeinde(src="<!-- @path spital-semmering -->")
							%h3 Spital am Semmering
							%span.widget-subinfo Stmk., 14 Mobilitätsgeschichten
					%li
						%a(href="<!-- @path stories-timeline -->")
							%img.img-gemeinde(src="<!-- @path gainfarn -->")
							%h3 Gainfarn
							%span.widget-subinfo NÖ, 2 Mobilitätsgeschichten
				%a.btn(href="stories-timeline.html") Alle Gemeinden ansehen
				%p Von deiner Gemeinde gibt es noch keine Geschichte? <a href="story-new.html">Schreib die erste</a>!


			%section.sec-home-geschichten
				%h2 Die neuesten Mobilitätsgeschichten
				%ul.widget-list
					%li
						%a(href="single-story.html")
							%h3 Die Weinviertler Hohlwege geraten in Vergessenheit
							%span.widget-subinfo Oberrohrbach, 2015
						%a(href="single-story.html")
							.widget-content
								%img(src="<!-- @path hohlwege -->")
						.story-rating
							%span.entry-rating-down 2

					%li
						%a(href="single-story.html")
							%h3 Geheimer Aufstieg
							%span.widget-subinfo St. Veit im Defereggental, 2015
						%a(href="single-story.html")
							.widget-content
								%p Ich kenne einen Aufstieg auf den Schafsköpfle, wie er nur wenigen bekannt sein dürfte!? Auf dieser Seite des Berges hat man eine weitaus bessere Aussicht als auf der anderen, zu der ein …
						.story-rating
							%span.entry-rating-up 12
							%span.entry-rating-down 3
							%span.entry-comment 1

					%li
						%a(href="single-story.html")
							%h3 Sicher & Aktiv zur Schule! - zu Fuß, mit dem Fahrrad und mit dem Scooter
							%span.widget-subinfo Leopoldsdorf, 2015
						%a(href="single-story.html")
							.widget-content
								%img(src="<!-- @path sicherzurschule -->")
						.story-rating
							%span.entry-rating-up 8
							%span.entry-comment 3


				%a.btn(href="stories-timeline.html") Alle Geschichten ansehen
				

	<!-- @include footer -->