.btn {
  display: inline-block;
  margin: 0.2em 0.5em 0.2em 0;
  border-radius: 5px;
  text-align: center;

  &:link, &:visited {
    padding: 0.5em 1em 0.5em;
    background-color: $brand-color-prim;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid $gray-light-2;
  }

  &:hover {
    background-color: $brand-color-sec;
    border-bottom-color: $gray-mid-1;
  }
  
  &:active, &:focus {
    @include transform(translateY(2px));
    border-bottom-color: transparent;
  }
}

.btn-sec {
  @extend .btn;

  &:link, &:visited {
    background-color: $gray-mid-1;
  }

  &:hover {
    background-color: desaturate($brand-color-prim,20%);
  }
  
  &:active, &:focus {
    @include transform(translateY(2px));
    border-bottom-color: transparent;
  }
}