// FOOTER
.footer {
	@extend .wrapper;
	background-color: $background-color-footer;
	color: $text-color-footer;
	padding: 1em $inner-distance;

	nav {
		@include respond-to(bp-large) {
			@include clearfix;
		}
	}

	@include respond-to(bp-medium) {
		margin-bottom: 2em;
	}
}

@mixin nav-inline {  // Stellt Links in einer Zeile dar mit Trennstricht dazwischen
	display: inline-block;

	&:after {
		content: "|";
		color: $gray-light-2;
	}
	&:last-child:after {
		content: none;
	}
}

.nav-footer li {
	@include respond-to(bp-small-only) {
		font-size: 1.1em;
		margin-bottom: 0.5em;
	}
	@include respond-to(bp-medium) {
		@include nav-inline;
	}
}

.credits li {
	@include nav-inline;
}

.nav-footer a, .credits a {
	text-decoration: none;
	color: #fff;
	@include transition(all 0.3s ease-out);

	&:hover {
		text-decoration: underline;
	}
}

.nav-footer {
	@include respond-to(bp-large) {
		float: left;
	}
}

.credits {
	font-size: 0.8em;
	@include respond-to(bp-small-only) {
		margin-top: 1em;
		padding-top: 1em;
		border-top: 2px solid $gray-light-2;
	}
	@include respond-to(bp-medium-only) {
		margin-top: 1em;
	}
	@include respond-to(bp-large) {
		float: right;
		text-align: right;
		margin-top: 0.3em; // damit es mit der Navigation links auf einer Grundlinie steht
	}
}