a:link, a:visited {
	text-decoration: underline;
	color: $brand-color-contrast;
	@include transition(all 0.3s ease-out);
}

a:hover {
	color: $brand-color-prim;
	text-decoration: none;
}

a:active, a:focus {
	color: $brand-color-prim;
}