// Hauptnavigation


.nav-main {
	background-color: $brand-color-contrast;

	@include respond-to(bp-medium) {
		position: relative;
		@include clearfix;
	}
	@include respond-to(bp-large) {
		padding: 0 $bg-ribbon-width;
	}
}

.nav {
	@include respond-to(bp-medium) {

	}
}

.nav-list {
	@include respond-to(bp-small-only) {
		display: none; // Navigation auf Handy ausblenden
	}
	@include respond-to(bp-medium-only) {
		// @include display(flex);
		// @include flex-wrap(wrap);
		// @include align-items(stretch);
	}
}

.nav-item {
	position:relative;

	@include respond-to(bp-medium) {
		float: left; // nebeneinander anordnen auf großen Screens
	}
	@include respond-to(bp-medium-only) {
		text-align: center;
		font-size: 0.8em;
		// width: 20%;
		// max-width: 30%;
		// @include flex-grow(1);
	}
	@include respond-to(bp-large) {
		&:first-child {
			border-left: 2px solid $nav-border-color;
		}
	}
}

.nav-item a {
	display:block;
	text-decoration: none;
	color:#FFF;
	padding: 1em;

	@include transition(all 0.3s ease-out);

	@include respond-to(bp-small-only) {
		border-bottom: 2px solid $nav-border-color;
		padding-left: $inner-distance // damit alles an der linken seite ausgerichtet ist
	}
	@include respond-to(bp-medium) {
		border-right: 2px solid $nav-border-color;
	}
	@include respond-to(bp-medium-only) {
		border-bottom: 2px solid $nav-border-color;
	}
	&:hover {
		background: lighten($brand-color-contrast,10%);
	}
	&:active, &:focus {
		background-color: darken($brand-color-contrast,10%);
		color: $background-color-content;
	}
}

.nav-item a.current { // Aktuelle gewählter Menüpunkt
	color: $nav-text-color-current;
	background: lighten($brand-color-contrast,20%);
}

.nav-item:hover .nav-submenu {
	display: none;

	// Einblenden des Submenüs bei Hover auf Desktop-Auflösungen
	// @include respond-to(bp-medium) {
	// 	display:block;
	// }
}

/* Navigation submenu */
.nav-submenu {
	display: none;
	position: static;

	@include respond-to(bp-medium) {
		position: absolute;
		left: 0;
	}
}

.nav-submenu a {
	background: darken($brand-color-contrast,8%);

	@include respond-to(bp-small-only) {
		padding-left: 2em;  // Einrücken
		border-bottom-color: darken($nav-border-color, 10%);
	}
}

.nav-submenu a.current { // Aktiver Menüpunkt im Submenü
	background: lighten($brand-color-contrast,10%);
	color: darken($nav-text-color-current,2%);
}


/* Handheld Aufklapp-Button */
.nav-mobile {
	@include respond-to(bp-medium) {
		display:none; /* Hide from browsers that don't support media queries */
	}

	cursor: pointer;
	position: absolute;
	top: 3px;
	right: $inner-distance;
	padding: 0.5em 0.7em 0.4em;
	background: $brand-color-contrast;
	color: #fff;
	border-radius: 3px;

	&:hover, &:active {
		background: darken($brand-color-contrast,10%);
	}

	&:before {
		content: "Menü";
		margin-right: 0.5em;
	}

	&:after {
		font-family: FontAwesome;
		content: $fa-var-bars;
	}
}

/* Mobile navigation, clickable area for revealing <ul> */
.nav-click {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	cursor:pointer;

	@include respond-to(bp-medium) {
		display:none;
	}

	i { // Aufklick-Button mit Icon für Subnavi
		display:block;
		font-style: normal;
		color: #fff;
		background: darken($brand-color-contrast,5%);

		&:after {
			font-family: FontAwesome;
			content: $fa-var-angle-down;
			font-size: 2.4em;
			display: block;
			padding: 0.15em 0.3em 0.2em;
		}
	}
	&:hover {}
}

.nav-rotate {
	@include transform(rotate(180deg));
}


// Schreib-deine-Geschichte-Link
.link-add-story {
	@include respond-to(bp-large) {
		float: right;
		width: 9.5em;
		font-size: 0.9em;
		line-height: 1.1;
		margin-top: 0.5em;
	}
	@include respond-to(bp-medium-only) {
		text-transform: capitalize; // Alle Anfangsbuchstaben in Großbuchstaben
		span {
			display: none; // Blendet „schreib“ aus
		}
	}

	a {
		@include respond-to(bp-large) {
			background-color: #fff;
			color: $brand-color-contrast;
			border-radius: 5px;
			padding: 0.3em 0.7em;
			border: none;
		}

		&:after {
			font-family: FontAwesome;
			content: $fa-var-pencil;
			margin-left: 0.3em;

			@include respond-to(bp-large) {
				font-size: 1.7em;
				position: absolute;
				top: 0.3em;
				right: 0.4em;
			}
		}
		&:hover, &:focus, &:active {
			@include respond-to(bp-large) {
				background: $brand-color-sec;
				color: #fff;
			}
		}
	}
}


// ### Subnavigation ###

.nav-sub {
	font-size: 0.9em;
	
	@include respond-to(bp-small-only) {
		display: none;
	}
	@include respond-to(bp-medium-only) {
		margin-bottom: 2em;
	}
	@include respond-to(bp-large) {
		max-width: 12em;
	}
}

.nav-sub li {
	@include respond-to(bp-medium-only) {
		display: inline-block;
	}
}

.nav-sub a {
	display: block;
	text-decoration: none;
	color: $nav-text-color-current;
	padding: 0.7em 1em 0.6em;
	@include transition(all 0.3s ease-out);

	@include respond-to(bp-medium-only) {
		background: lighten($brand-color-contrast,20%);
	}
	@include respond-to(bp-large) {
		background: url(../img/bg/bg-subnavi.png) right no-repeat lighten($brand-color-contrast,20%);
		background-size: contain;
		margin-bottom: 3px;
	}

	&:hover {
		background-color: lighten($brand-color-contrast,10%);
	}
	&:active, &:focus {
		background-color: darken($brand-color-contrast,10%);
		color: $background-color-content;
	}
}

.nav-sub a.current {
	color: #fff;

	@include respond-to(bp-medium-only) {
		background: $brand-color-contrast;
	}
	@include respond-to(bp-large) {
		background: url(../img/bg/bg-subnavi-arrow.png) right no-repeat $brand-color-contrast;
		background-size: contain;
	}
}


