// ### EINZELNE MOBILITÄTSGESCHICHTE-PAGE ###

.page-single-story {
	padding: 2em $inner-distance 4em;

	@include respond-to(bp-large) {
		@include outer-container;
	}
}

.page-single-story .main-content {
	@include respond-to(bp-large) {
		@include span-columns(9);
		@include shift(3);
	}
	@include respond-to(bp-xlarge) {
		@include span-columns(7);
	}
}

// ### BREADCRUMB //

.nav-bread-crumb {
	margin: -1em 0 1.5em;
	border-bottom: 3px solid $gray-light-2;
	padding: 0.5em 0 1em;

	@include respond-to(bp-medium) {
		font-size: 1.2em;
		margin: -1em 0 2.5em;
		padding: 1em 0 1.4em;
	}
}

.nav-bread-crumb li {
	display: inline;

	@include respond-to(bp-small-only) {
		display: none;  // Handheld: alle Links bis auf den ersten ausbleden 
		&:first-child {
			display: block;
		}
		&:first-child:before {
			@include add-icon;
			margin-right: 0em;
			content: $fa-var-arrow-circle-left;
		}
	}
	&:after {
		@include respond-to(bp-medium){
			@include add-icon;
			content: $fa-var-angle-double-right;
			margin-right: 0;
		}
	}
	&:last-child:after {
		content: none;
	}
}

.nav-bread-crumb a {
	text-decoration: none;
}


// ### Story Header ###

.story-header h1 {
	margin-bottom: 0.2em;
}

.story-meta {
	color: $gray-mid-2;
	font-size: 0.9em;
	margin-bottom: 2em;
}

.story-author {
	font-weight: bold;
}

.story-count-comments {
	margin-left: 0.4em;

	a {
		color: inherit;
		text-decoration: none;
	}
	a:hover {
		color: $brand-color-prim;
	}
	&:before {
		@include add-icon;
		content: $fa-var-comment;
		margin-right: 0;
	}
}


// ### Fakten zur Geschichte ###

.story-facts {
	list-style: none;
	margin: 0;
	padding: 0;
	color: $gray-mid-2;
	font-size: 0.9em;

	@include respond-to(bp-small-only) {
		font-size: 1em;
		margin-bottom: 2em;
	}
	@include respond-to(bp-medium-only) {
		@include display(flex);
		@include align-items(flex-start);
		@include justify-content(space-between);
	}

	@include respond-to(bp-large) {
		float: left;
		width: 12em;
		margin-left: -35%;
		margin-top: 2em;
	}
	@include respond-to(bp-xlarge) {
		width: 15em;
		margin-left: -45%;
	}

}

.story-facts > li {
	@include display(flex);
	@include align-items(flex-start);
	margin-bottom: 0.5em;

	@include respond-to(bp-medium-only) {
		@include flex(1);
		margin-right: 0.5em;
	}
	@include respond-to(bp-medium) {
		margin-bottom: 0.5em;
	}
	@include respond-to(bp-large) {
		margin-bottom: 1.5em;
	}
}

.story-facts h5 {
	@include respond-to(bp-small-only) {
		display: inline;
	}
	a {
		text-decoration: none;
	}
}

.story-facts ul {  // Unterliste mit den einzelnen Mobilitätsformen/Verkehrsmitteln
	list-style: none;
	margin: 0;
	padding-left: 0;

	@include respond-to(bp-small-only) {
		display: inline;
	}
}

.story-facts ul > li {
	@include respond-to(bp-small-only) {
		display: inline;
		&:after {
			content: ",";
			margin-left: -0.3em;
		}
		&:last-child:after {
			content: none;
		}
	}
}

.story-facts a {
	color: inherit;

	&:hover {
		color: $brand-color-prim;
	}
}

.story-facts-icon {
	width: 2.2em;
	min-width: 2.2em; // damit es durch flexbox nicht weiter schrumpft
	margin-right: 0.5em;

	@include respond-to(bp-small-only) {
		width: 1.3em;
		min-width: 1.3em; // damit es durch flexbox nicht weiter schrumpft
		margin-right: 0.3em;
	}
}

.story-facts h5 {
	font-size: 1em;
}



// ### STORY VOTE ###

.story-vote {
	margin: 2em 0 0.5em;
	border-top: 3px solid $gray-light-2;
	border-bottom: 3px solid $gray-light-2;
	padding: 0.7em 0 1.3em;

	@include respond-to(bp-medium) {
		@include outer-container;
		padding-top: 1.3em;
	}

	> div:first-child { // container für Aufforderungstext
		font-weight: bold;
		color: $gray-mid-2;
		@include respond-to(bp-medium) {
			@include span-columns(7);
		}
	}

	> div:last-child { // container für Buttons
		@include respond-to(bp-small-only) {
			margin-top: 1em;
		}
		@include respond-to(bp-medium) {
			@include span-columns(5);
			text-align: right;
		}
	}
}


a.vote-button {
	@include respond-to(bp-small-only) {
		margin-right: 1em;
	}
	@include respond-to(bp-medium) {
		margin-left: 1em;
	}

	padding: 0.5em 0.7em 0.4em;
	text-decoration: none;
	border-radius: 5px;
	color: #fff;


	&:before {
		color: inherit;
		border-right: 1px solid rgba(255,255,255,0.3);
		padding-right: 0.5em;
		margin: -0.3em 0.5em -0.3 0;
		font-size: 1.2em;
	}
}

.vote-up {
	@extend .vote-button;
	background-color: $brand-color-sec;
	&:before {
		@include add-icon;
		content: $fa-var-thumbs-o-up;
	}
	&:hover {
		background-color: darken($brand-color-sec, 5%);
	}
	&:active {
		background-color: darken($brand-color-sec, 10%);
	}
}

.vote-down {
	@extend .vote-button;
	background-color: $alert-color;
	&:before {
		@include add-icon;
		content: $fa-var-thumbs-o-down;
	}
	&:hover {
		background-color: darken($alert-color, 5%);
	}
	&:active {
		background-color: darken($alert-color, 10%);
	}
}


// ### STORY SHARE ###

a.share-facebook, a.share-twitter, a.share-google-plus {
	font-size: 2.5em;
	@include respond-to(bp-medium) {
		font-size: 2.2em;
	}
	text-decoration: none;
	color: $gray-mid-1;

}

a.share-facebook:hover {
	color: #3b5998;
}
a.share-twitter:hover {
	color: #4099FF;
}
a.share-google-plus:hover {
	color: #dd4b39;
}

a.inappropriate-link {
	margin-top: 1em;
	@include respond-to(bp-medium) {
		margin-top: 0.8em;
	}
	font-size: 0.8em;
	color: $gray-mid-2;
	float: right;


	&:hover {
		color: $brand-color-prim;
	}
}


// ### STORY COMMENTS ###

.story-comments {
	margin: 4em 0;
}

.story-comments header {
	@include respond-to(bp-medium) {
		@include display(flex);
		@include justify-content(space-between);
		@include align-items(baseline)
	}
}

.story-comments h2 {
	@include respond-to(bp-medium) {
		display: inline;
	}

	&:before {
		font-family: FontAwesome;
		content: $fa-var-comments;
		margin-right: 0.3em;
	}
}

a.new-comment-link {
	@include respond-to(bp-small-only) {
		display: block;
		margin-bottom: 2em;
	}
	@include respond-to(bp-medium) {
		margin-left: 1em;
	}
	color: inherit;
	text-decoration: none;

	&:after {
		@include add-icon;
		content: $fa-var-arrow-circle-down;
		margin: 0 0 0 0.3em;
		color: inherit;
	}
	&:hover {
		color: $brand-color-prim;
	}
}

.story-comments-list {
	list-style: none;
	padding: 0;

	> li {
		margin: 0 0 3em;
	}
}

.comment-author {
	color: darken($text-color-prim, 10%);
	font-weight: bold;
	font-size: 1.1em;
}

.comment-date {
	color: $gray-mid-2;
}

.comment-content {
	margin-top: -0.5em;
	font-style: italic;
}



// ### NEW COMMENT ###

.new-comment {
	margin-top: 6em;
}

.new-comment h2 {
	margin-bottom: 1em;

	&:before {
		font-family: FontAwesome;
		content: $fa-var-comment;
		margin-right: 0.3em;
	}
}

.form-new-comment > div { // container für Maximalbreite der unteren Inputs
	@include respond-to(bp-medium) {
		max-width: 25em;
	}
}

.label-comment {
	font-size: 0.8em;
	display: inline;
	font-weight: normal;
	color: $gray-mid-2; 
}

.captcha-container {
	margin-bottom: 2em;
	@include respond-to(bp-medium) {
		@include display(flex);
		@include align-items(center);
	}
}

.captcha-container > img {
	@include respond-to(bp-small-only) {
		display: block;
		margin: 0.5em 0 1em;
	}
	@include respond-to(bp-medium) {
		margin-right: 1em;
	}
}

.captcha-container > input {
	max-width: 10em;
}