// ### STARTSEITE, HOME-PAGE ###

.page-home section:nth-child(even) {  // abwechselnde Hintergrundfarben
	background-color: #fff;
}

.page-home h2 {
	margin-top: 0;
	font-weight: normal;
	font-size: 1.8em;
	text-align: center;
}


// ### Intro-Modul mit Begrüßungstext ###

.sec-home-intro {
	padding: 0 $inner-distance 2em;
	text-align: center;

	@include respond-to(bp-large) {
		padding: 3em $inner-distance;
		@include outer-container;
	}
}

.sec-home-intro > div {
	padding: 2em 1em;

	@include respond-to(bp-large) {
		@include span-columns(6);
 		@include omega; // Entfernt Abstand zw. Spalten
	}
	@include respond-to(bp-xlarge) {
		padding: 1em 2.5em;
	}

	&:first-child {
		border-bottom: 4px solid rgb(245,245,245);

		@include respond-to(bp-large) {
			border-right: 2px solid rgb(245,245,245);
			border-bottom: none;
		}
	}
	&:last-child {
		@include respond-to(bp-large) {
			border-left: 2px solid rgb(245,245,245);
		}
	}
}

.sec-home-intro h2 {
	font-size: 1.6em;
}


// ### Aktuelle Gemeinden ###

.sec-home-gemeinden {
	padding: 3em $inner-distance;
	text-align: center;
}



// ### Aktuelle Geschichten ###

.sec-home-geschichten {
	@extend .sec-home-gemeinden
}



// ### Widget-Liste ###

.widget-list {
	list-style: none;
	margin: 2em 0 0;
	padding: 0;

	@include respond-to(bp-medium) {
		@include outer-container;
	}
}

.widget-list h3 {
	margin: 0.2em 0;
	text-transform: none;
	letter-spacing: 0;
	font-weight: normal;
}

.widget-list li {
	margin-bottom: 2em;
	padding: 0.7em;
	background-color: rgb(242,242,242);
	box-shadow: 0 1px 3px rgba(0,0,0,0.3);

	@include respond-to(bp-medium) {
		@include span-columns(6);
		@include omega(2n); // Umbruch nach jedem 2. Element
	}

	@include respond-to(bp-large) {
		@include omega-reset(2n); // Rest, damit es nun nicht nach der zweiten Spalte umbricht
		@include span-columns(4);
		@include omega(3n);
	}

	img {
		width: 100%;
	}
}

.img-gemeinde {
	display: block;
	margin-bottom: 0.7em;
}

.widget-list a {
	text-decoration: none;
	color: inherit;
}

.widget-list a:hover h3 {
	color: $brand-color-contrast;
}

.widget-subinfo { // Text unterhalb der Überschrift
	color: $gray-mid-2;
	font-size: 0.9em;
}

.widget-content {  // Bild/Text im Widget
	margin: 0.7em -0.7em; // -0.7em um padding von Container auszugleichen und bis zum Rand zu gehen
	padding: 0.7em;
	border-top: 2px solid $gray-light-1;
	border-bottom: 2px solid $gray-light-1;
}

.widget-content p {
	margin: 0;
	padding: 1em 0.5em;
	line-height: 1.3;
}



