// ### EINZELNE MOBILITÄTSGESCHICHTE-PAGE ###

.page-single-story {
	padding: 2em $inner-distance 4em;

	@include respond-to(bp-large) {
		@include outer-container;
	}
}


.page-single-story .main-content {
	@include respond-to(bp-large) {
		@include span-columns(9);
		@include shift(3);
	}
	@include respond-to(bp-xlarge) {
		@include span-columns(7);
	}
}



// ### Fakten zur Geschichte ###

.story-facts {
	list-style: none;
	margin: 0;
	padding: 0;
	color: $gray-mid-2;
	font-size: 0.9em;

	@include respond-to(bp-small-only) {
		font-size: 1em;
	}
	@include respond-to(bp-medium-only) {
		@include display(flex);
		@include align-items(flex-start);
		@include justify-content(space-between);
	}

	@include respond-to(bp-large) {
		float: left;
		width: 12em;
		margin-left: -35%;
		margin-top: 2em;
	}
	@include respond-to(bp-xlarge) {
		width: 15em;
		margin-left: -45%;
	}

}

.story-facts > li {
	@include display(flex);
	@include align-items(flex-start);
	margin-bottom: 0.5em;

	@include respond-to(bp-medium-only) {
		@include flex(1);
		margin-right: 0.5em;
	}
	@include respond-to(bp-medium) {
		margin-bottom: 0.5em;
	}
	@include respond-to(bp-large) {
		margin-bottom: 1.5em;
	}
}

.story-facts h5 {
	@include respond-to(bp-small-only) {
		display: inline;
	}
	a {
		text-decoration: none;
	}
}

.story-facts ul {  // Unterliste mit den einzelnen Mobilitätsformen/Verkehrsmitteln
	list-style: none;
	margin: 0;
	padding-left: 0;

	@include respond-to(bp-small-only) {
		display: inline;
	}
}

.story-facts ul > li {
	@include respond-to(bp-small-only) {
		display: inline;
		&:after {
			content: ",";
			margin-left: -0.25em;
		}
		&:last-child:after {
			content: none;
		}
	}
}

.story-facts a {
	color: inherit;
}

.story-facts-icon {
	width: 2.2em;
	margin-right: 0.5em;

	@include respond-to(bp-small-only) {
		width: 1.3em;
		margin-right: 0.3em;
	}
}

.story-facts h5 {
	font-size: 1em;
}


