// ### EINZELNE MOBILITÄTSGESCHICHTE-PAGE ###

.page-story-new {
	padding: 2em $inner-distance 4em;

	@include respond-to(bp-large) {
		padding-top: 4em;
		@include outer-container;
	}
}

.page-story-new .main-content {
	margin: 0 auto;
	max-width: $max-width-text;
}

// ### FORMULAR //

.form-story-new h2 {
	margin-top: 0;
	padding-bottom: 0.4em;
	border-bottom: 3px solid $gray-light-2;
}

.story-new-time {
	@include respond-to(bp-medium) {
		@include outer-container;
	}
}
.story-new-time > div {
	@include respond-to(bp-medium) { // Zeit-Auswahl zeispaltig
		@include span-columns(6);
	}
}

.add-file {
	margin-top: 1.2em;
	border-top: 3px solid $gray-light-2;
	padding-top: 1em;
}

.checkbox-group {
	margin: 0.8em 0;
	padding-left: 1.3em;
	position: relative;
	line-height: 1;
}
.checkbox-group input[type^="checkbox"] {
	position: absolute;
	left: 0;
}

input.sonstiges { // input
	padding: 0.3em 0.5em !important;
	max-width: 10em;
}

.form-story-new .notification {
	margin-bottom: 3em;
}

.form-story-new .form-submit .btn-sec {
  @include respond-to(bp-small-only) {
    width: 100%;
    padding: 0.8em;
  }
}

