// FARBEN

$brand-color-prim: rgb(24,150,56);
$brand-color-sec: rgb(169,189,71);
$brand-color-tir: rgb(77,212,172);
$brand-color-contrast: rgb(62,167,179);
$brand-color-contrast-light: rgb(158,210,216);
$alert-color: rgb(216,120,116);
$text-color-prim: rgb(102,102,102);
$text-color-sec: #000;
$text-color-footer: #fff;
$background-color: #000;
$background-color-content: rgb(230,230,230);
$background-color-footer: $brand-color-contrast;

$gray-light-1: rgb(225,225,225);
$gray-light-2: rgb(204,204,204);
$gray-mid-1: rgb(153,153,153);
$gray-mid-2: rgb(128,128,128);

$white-almost: rgb(247,247,247);

$nav-border-color: rgb(54,143,153);
$nav-text-color-current: rgb(47,125,134);

// GRÖSSEN

$max-width: 1140px; // wird auch vom neat Grid verwendet
$max-width-inner-container: 1000px;  // Für einzelne Module im Shop
$max-width-text: 45em;
$max-width-images: 80%;

$inner-distance: 5%; // innerer Abstand des Contents zum Rand des Containers

$outer-distance-medium: 1em;  // äußerer Abstand des Containers zum Seitenrand bei medium-Screens
$outer-distance-large: 1.5em;  // äußerer Abstand des Containers zum Seitenrand bei large-Screens

$bg-ribbon-width: 12px; // Breite der Hintergrundbilder am Rand der Navigation und des Footers

// TYPO
$font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;

// BREAKPOINTS
$bp-small: 549px;
$bp-medium: 550px;
$bp-large: 830px;
$bp-xlarge: 1050px;
$bp-xxlarge: 1500px;
