%footer.footer
	%nav
		%ul.nav-footer
			%li 
				%a(href="#") ProjektpartnerInnen
			%li 
				%a(href="#") Kontakt
			%li 
				%a(href="#") Presse
			%li 
				%a(href="#") AGB
			%li 
				%a(href="#") Impressum
		%ul.credits
			%li 
				Design
				%a(href="http://8660.at" traget="_blank") 86/60
			%li 
				Tech. Umsetzung:
				%a(href="http://akaryon.at" traget="_blank") akaryon

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="<!-- @path flaunt.js -->"></script>