%nav.nav
	.nav-main
		%ul.nav-list
			%li.nav-item
				%a(href="#") Start
			%li.nav-item
				%a(href="#") Mobilitätsgeschichten
			%li.nav-item
				%a(href="index.html") Das Projekt
				%ul.nav-submenu
					%li.nav-submenu-item
						%a(href="index.html") Über das Projekt
					%li.nav-submenu-item
						%a(href="#") Projektziele
					%li.nav-submenu-item
						%a(href="#") Das Team
			%li.nav-item
				%a(href="#") Nachhaltige Mobilität
			%li.nav-item.link-add-story
				%a(href="#")
					%span Schreib
					deine Geschichte
			%li.nav-item.desktop-hide
				%a(href="#") Login
			%li.nav-item.desktop-hide
				%a(href="#") Kontakt