%nav.nav
	.nav-meta
		%ul.nav-list
			%li.nav-item
				%a(href="#") Login
			%li.nav-item
				%a(href="#") Kontakt

	.nav-main
		%ul.nav-list
			%li.nav-item
				%a(href="#") Start
			%li.nav-item
				%a(href="#") Mobilitätsgeschichten
			%li.nav-item
				%a(href="#") Das Projekt
			%li.nav-item
				%a(href="#") Nachhaltige Mobilität
				%ul.nav-submenu
					%li.nav-submenu-item
						%a(href="#") Über das Projekt
					%li.nav-submenu-item
						%a(href="#") Projektziele
					%li.nav-submenu-item
						%a(href="#") Das Team
			%li.nav-item
				%a(href="#") Schreib deine Geschichte!